{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}
 <script type="text/javascript">
        //<!--
        function change_onglet(name)
        {
            document.getElementById('onglet_'+anc_onglet).className = 'onglet_0 onglet';
            document.getElementById('onglet_'+name).className = 'onglet_1 onglet';
            document.getElementById('contenu_onglet_'+anc_onglet).style.display = 'none';
            document.getElementById('contenu_onglet_'+name).style.display = 'block';
            anc_onglet = name;
        }
        //-->
    </script>
    <style type="text/css">
        .onglet
        {
            display:inline-block;
            margin-left:6px;
            margin-right:40px;
            padding:3px;

            cursor:pointer;
        }
        .onglet_0 /* Les deux onglets inactifs */
        {
            background: #FFFFFF;

        }
        .onglet_1 /* L'onglet actif */
        {
            background: white;
            border-bottom:0px solid black;
            padding-bottom:4px;
            color: #65B32E;
        }
        .contenu_onglet
        {
            margin-top:6px;
            margin-left: 5px;
            padding:5px;
            display:none;
        }
        ul
        {
            margin-top:30px;
            margin-bottom:0px;
            margin-left:-10px
        }
        h1
        {
            margin:0px;
            padding:0px;
        }
    </style>


    <div class="systeme_onglets">
        <div class="onglets">
            <span class="onglet_0 onglet" id="onglet_formulaire" onclick="javascript:change_onglet('formulaire');">Formulaire</span>
            <span class="onglet_0 onglet" id="onglet_qui" onclick="javascript:change_onglet('qui');">Site du Labo</span>
            <span class="onglet_0 onglet" id="onglet_pourquoi" onclick="javascript:change_onglet('pourquoi');">Lien 2</span>
        </div>
        <div class="contenu_onglets">
            <div class="contenu_onglet" id="contenu_onglet_formulaire">
                <h1>Formulaire</h1>
                <div class="well">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    <input type="submit" value=">> ENVOYER ! <<" />
                    {{ form_end(form) }}
            </div>
            <div class="contenu_onglet" id="contenu_onglet_qui">
                <h1>Qui?</h1>
                C'est un script r&eacute;alis&eacute; par Ybouane,<br />
                Webmaster du site <a href="http://www.supportduweb.com/">http://www.supportduweb.com/</a>
            </div>
            <div class="contenu_onglet" id="contenu_onglet_pourquoi">
                <h1>Pourquoi?</h1>
                Pour simplifier la navigation et la diviser en parties
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //<!--
        var anc_onglet = 'formulaire';
        change_onglet(anc_onglet);
        //-->
    </script>

</div>