{# @OrthoBundle/Resources/views/Default/recup_commandes.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="msform">
        {% if app.user %}
            <!-- user is logged in -->

            <fieldset class="smallbloc">
                <h2 class="fs-title">Nombre de commandes :</h2>

                <div id="container">
                    <div class="profileplace">
                        <div>
                            <p>Il y a au total {{ totalCommande[0][1] }} commandes</p>


                        </div>

                    </div>
                </div>


            </fieldset>
        {% else %}
            <!-- user is not logged in -->
            <fieldset class="smallbloc">
                Connectez-vous pour accéder à cette page.
            </fieldset>

        {% endif %}

    </div>


{% endblock %}