{# @OrthoBundle/Resources/views/Default/liste_app.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="msform">
        {% if app.user %} <!-- L'utilisateur est connecté -->
            <fieldset class="largebloc">
                <h2 class="fs-title">Liste des appareillages</h2>
            </fieldset>
        {% else %} <!-- L'utilisateur n'est pas connecté -->
            <fieldset class="smallbloc">
                Connectez-vous pour accéder à cette page.
            </fieldset>
        {% endif %}
    </div>
{% endblock %}
