<div class="modal fade" id="myModalAdjonctions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Selectionnez l'adjonction :</h4>
                <input type="text" placeholder="Entrez votre recherche" id="search2" />
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row" id="images-adjonctions">
                                <!-- Ici, on insère dans la div les adjonctions (voir jQuery) -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" class="previous action-button" data-dismiss="modal" value="Fermer"/>
                <input type="button" class="action-button" data-dismiss="modal" value="VALIDER"/>
            </div>
        </div>
    </div>
</div>