<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" placeholder="Entrez votre recherche" id="search">
                <h4 class="modal-title" id="myModalLabel">Selectionnez le modèle d'appareil</h4>
            </div>
            <div class="modal-body">
                Sélectionnez votre appareillage : <br/>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row" id="images-app">
                                <!-- Ici, on insère dans la div les appareillages (voir jQuery) -->
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" class="action-button" data-dismiss="modal" value="Fermer"/>
                <input type="button" class="action-button" data-dismiss="modal" value="VALIDER"/>
            </div>
        </div>
    </div>
</div>
