<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" id="myModalLabel">Vos appareillages disponibles par
                    famille</h4>
                <h6>Liste non exhaustive, contactez votre laboratoire</h6>

                <div class="modal-body">
                    <ul>
                        <li><a data-family="mob" data-toggle="modal" class="family-button" data-target="#myModal2">Mobile</a><br/></li>
                        <li><a data-family="fix" data-toggle="modal" class="family-button" data-target="#myModal2">Fixe</a><br/></li>
                        <li><a data-family="fon" data-toggle="modal" class="family-button" data-target="#myModal2">Fonctionnels</a><br/></li>
                        <li><a data-family="con" data-toggle="modal" class="family-button" data-target="#myModal2">Contention</a><br/></li>
                        <li><a data-family="ser" data-toggle="modal" class="family-button" data-target="#myModal2">Service 3D</a><br/></li>
                        <li><a data-family="mou" data-toggle="modal" class="family-button" data-target="#myModal2">Moulages</a><br/></li>
                        <li><a data-family="ela" data-toggle="modal" class="family-button" data-target="#myModal2">Elastodontie</a><br/></li>
                        <li><a data-family="ped" data-toggle="modal" class="family-button" data-target="#myModal2">Pédodontie</a><br/></li>
                        <li><a data-family="col" data-toggle="modal" class="family-button" data-target="#myModal2">Collage Indirect</a><br/></li>
                        <li><a data-family="aut" data-toggle="modal" class="family-button" data-target="#myModal2">Autres</a><br/></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
