{% extends 'base.html.twig' %}

{% block body %}


    {{ form(form) }}


    <ul>
        <li>
            <a href="{{ path('uploads_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
