body {
    margin: 0 1.5em;
    background-color: #f8f8f8;
    opacity: 0.9;
}

h3 {
    text-align: center;
}

#ours {
    width: 100%;

}

#commandes_appareillages, #commandes_fidAdj {
    /* width: 300px; */
    width: 50%;
    padding: 5px;
    display: block;
}

#commandes_comment {
    padding: 5px;
    /*width: 140%;*/
    width: 180%;
    display: block;
    min-height: 150px;
}

form {
    /*width: 70%;*/
    width: 80%;
    /* height: 500px; */
    height: 700px;
    /*margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;*/
    margin: 20px auto;
    /* padding-left: 20px; */
    /* padding-top: 20px; */
    padding: 20px;
    background-color: #20B2AA;
    border-radius: 15px;
}

input {
    /*margin: 0 0 10px;*/
    margin: 10px;
}

button {
    margin-top: 20px !important;
    text-align: center !important;
    /*color: #4f4;*/
    color: #20B2AA;
}

.navbar-inverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2dfed+0,c8d7eb+26,bed0ea+51,a6c0e3+51,afc7e8+62,bad0ef+75,99b5db+88,799bc8+100;Grey+Blue+Gloss+%231 */
    background: #20B2AA; /* Old browsers */
    /**background: -moz-linear-gradient(top,  #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%); /* FF3.6-15 */
    /**background: -webkit-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Chrome10-25,Safari5.1-6 */
    /**background: linear-gradient(to bottom,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2dfed', endColorstr='#799bc8', GradientType=0); /* IE6-9 */
    border-radius: 0;
    border: none;
    margin: 0 -1.5em;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);*/
}

.navbar-inverse .navbar-nav > li > a {
    color: whitesmoke;
}

#fosuserlogin {
    height: 100px;
    width: auto;
}

.header_recap {
    margin-left: auto;
    margin-right: auto;
}

.coche_vert {
    text-align: center;
    width: 4%;
    float: left;
}

.header_recap h2 {
    padding-top: 6px;
    text-align: center;
}

#imprimante, #image_envoi_email {
    width: 60px;
    height: 60px;
}

#lien_nouveau_formulaire {
    color: black;
    border: 1px solid black;
    padding: 1em;
    font-size: 18px;
    box-shadow: 8px 8px 0px black;
}

li {
    list-style-type: none;
}

#formulairecde {
    width: 50%;
    float: left;
    /*background-color: #20B2AA;*/
}

#upload {
    width: 50%;
    float: right;
    /*background-color: #20B2AA;*/
    border-left: 1px solid dimgrey;
    /*height: 600px;*/
    height: 480px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#boutoncde {
    /*background-color: #20B2AA;*/
    width: 100px;
    /*margin-left: 700px;*/
    margin-left: 750px;
}

#commandes_fidCouleur:hover {

}